.container1{
  
    grid-template-areas: 
    'section section section aside';
    grid-template-columns: 4fr 4fr 4fr 4fr;
    
}
.coldplay {
    height: 200PX;
    width: 100%;

}
.section-box-image{
    height:5rem;
    width:5rem;
}
.section-music-detail h3{
    font-size: 17px;
}
.section-music-detail p{
    font-size: 14px;
}
.main-section{
    height: 25%;
}

.main-section-3{
     margin: 20% auto;
     overflow: hidden;
}

.main-section-3-inner-1-img{
    height:60px ;
    width:60px;
  
    
}
.heading{
text-align: center;    
}
.lname h2{
    font-size: 15px;
}
.lname h3{
    font-size: 13px;
}
.main-section-3-inner-1-img h5{
    margin-top: 5px;
    font-size: 12px;

    letter-spacing: 0px;
}
.main-section-3-inner-2-img{
    height: 80px;
    width:80px;
   
}


.main-section-3-inner-3-img{
    height: 200px;
    width:210px;
    margin: 0px 1px;
   
}

.main-section-4-inner-1-img{
    height: 100px;
    width:100px;
  
}

.main-section-4-inner-1-img h3{

    font-size: 16px;
  
}
.main-section-4-inner-1-img p{
    font-size: 12px;
}



/* ASIDE  */

.music-info h1{
    font-size: 21px;
}
.dropbtn h1{
    
    font-size: 15px;
}
   
  
.dropbtn i{
    padding: 0px 4px;
    font-size: 15px;
}
   
.music-detail h4{
    font-size: 14px;
}
.music-detail p{
    font-size: 11px;
}

.heart-icon {
    position: absolute;
    right: 1%;
    bottom: 45%;    
    font-size: 13px;
}